@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Rowdies-Regular';
    src: url('../fonts/Rowdies-Regular.ttf');
}

body * {
    @apply box-border;
}

.page-part {
    @apply container px-5 pt-32 pb-24 mx-auto;
}

.dual-section {
    @apply flex items-center lg:grid grid-cols-2 place-items-center flex-col;
}

section {
    @apply min-h-screen w-full snap-start flex items-center justify-center;
}
@media (min-width: 768px) {
    html {
        scroll-behavior: smooth;
    }
}

.bouncing-arrow {
    font-size: 2rem;
    color: #333;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
}
